/cache/admin/
/cache/admin/prod
/cache/admin/prod/template
/cache/admin/prod/config
/cache/admin/prod/config/*.yml.php
/cache/admin/prod/i18n
/cache/admin/dev
/cache/admin/dev/template
/cache/admin/dev/config
/cache/admin/dev/config/*.yml.php
/cache/admin/dev/i18n
/log/admin_dev.log
