<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
        <link href="{{ asset('bundles/zacacia/css/zacacia.css') }}" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <!-- header class="col s12 l13 light-blue darken-4">
       	    {% block header %}{% endblock %}
        </header -->

        <header>
            <nav class="top-nav light-blue darken-4">
                <div class="container">
                    <div class="nav-wrapper"><a class="page-title">Zacacia</a></div>
                </div>
            </nav>
            <div class="container">
                <ul id="nav-mobile" class="side-nav fixed">
                    <li class="logo center-align light-blue darken-4">
                        <a id="logo-container" href="http://materializecss.com/" class="brand-logo">
                        <object id="front-page-logo" type="image/png" data="{{ asset('bundles/zacacia/images/zacacia_w.png') }}">Your browser does not support PNG</object>
                        </a>
                    </li>
                    {%block nav_menu %}{% endblock %}
                    <li class="bold"><a href="/logout" class="waves-effect waves-teal">Logout</a></li>
                </ul>
        </header>

        <main>
            <div class="col s12">
                <p class="caption">
                </p>
            </div>

            <div class="col s9">
            	<div class="container">
                    {% block main %}{% endblock %}
            	</div>
            </div>
        </main>

        <footer class="page-footer light-blue darken-4">
        {% block footer %}{% endblock %}
	</footer>

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
