{% extends 'ZacaciaBundle::layout.html.twig' %}

{% block title %}Zacacia : Dashboard{% endblock %}

{% block navmenu %}
<li class="active"><a href="#">Dashboard <span class="sr-only">(current)</span></a></li>
<li><a href="{{ path('_platform') }}">Platforms</a></li>
{% endblock %}
