{% extends 'ZacaciaBundle::zacacia.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/zacacia/js/route.js') }}"></script>
<script src="{{ asset('bundles/zacacia/js/controller.js') }}"></script>
<script src="{{ asset('bundles/zacacia/js/platform.js') }}"></script>
{% endblock %}

{%block nav_menu %}
<button type="button" class="btn btn-lg btn-block"><a href="{{ path('zacacia_homepage') }}#platform">Plateforms</a></button>
{% endblock %}
