{% extends 'ZacaciaBundle::zacacia.html.twig' %}

{%block nav_menu %}
<button type="button" class="btn btn-lg btn-block"><a href="{{ path('platform_list') }}">Plateforms</a></button>
{% endblock %}

{% block main %}
{% endblock %}

{% block footer %}
{% endblock %}