{% extends 'ZacaciaBundle::zacacia.html.twig' %}


{%block nav_menu %}
<li><a href="{{ path('zacacia_platform') }}">Plateforms</a></li>
{% endblock %}



{% block main %}

<section ng-controller="platformCtrl">
    <article ng-show="platforms.length">
        <ul id="platform-list">
            <li ng-repeat="platform in platforms">
                <div class="view">
                    <span>[[platform.cn]]</span>
                </div>
            </li>
        </ul>
    </article>
</section>
{% endblock %}

{% block footer %}
a
{% endblock %}
