{% extends 'ZacaciaBundle::zacacia.html.twig' %}


{%block nav_menu %}
<li class="active"><a href="{{ path('zacacia_platform') }}">Plateforms</a></li>
{% endblock %}



{% block main %}
Hello Hugues!
{% endblock %}

{% block footer %}
a
{% endblock %}
