/*
 *  Minivisp Style 0.1
 *   - Collection
 */

#collection {
    width: 900px;
    margin: auto;
}

#collection_description {
    background-color: #999999;
    width: 898px;
    height: 20px;
    clear: both;
    border-bottom: 1px solid #1C1C1C;
}

#collection_description ._name {
    width: 700px;
    float: left;
    padding: 1px 0 0 10px;
    color: #1C1C1C;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
}

#collection_description ._action {
    width: 100px;
    float: right;
    padding: 1px 10px 0 0;
    color: #1C1C1C;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: right;
}

#collection_enumerate {
    width: 900px;
    background-color: #FFFFFF;
    clear: both;
}

#collection_line_odd {
    width: 898px;
    height: 20px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #1C1C1C;
    border-right: 1px solid #1C1C1C;
    clear: both;
}

#collection_line_odd:hover {
    background-color: #99FF66;
}

#collection_line_even {
    width: 898px;
    height: 20px;
    background-color: #EFEFEF;
    border-bottom: 1px solid black;
    border-right: 1px solid #1C1C1C;
    clear: both;
}

#collection_line_even:hover {
    background-color: #99FF66;
}

._name_enable {
    padding: 4px 0 0 10px;
    color: #000000;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    font-weight: bold;
    width: 500px;
    float: left;
}

._name_disable {
    padding: 4px 0 0 10px;
    color: #DD0000;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    font-weight: bold;
    width: 500px;
    float: left;
}

._actions {
    width: 90px;
    float: right;
    padding: 2px 10px 0 0;
    line-height: 0.8em;
    text-align: right;
}

._ping {
    width: 15px;
    padding: 2px 10px 0 0;
    float: left;
}

._ipaddress {
    width: 140px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    padding: 3px 10px 0 0;
    float: left;
}
