.z-line {
line-height: 20px;
border-bottom:  1px solid #222222;
}

.z-odd {
background-color: #C0C0C0;
}

.z-even{
background-color: #FFFFFF;
}

.z-status-enable {
color: green;
margin-left: 10px;
}

.z-status-disable {
color: red;
margin-left: 10px;
}

.z-action {
text-align: right;
padding: 1px 5px 1px 0px;
}

.z-action img {
padding-left: 5px;
}
