/*
 *  Minivisp Style 0.1
 *  - Footer
 */

#footer-content {
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#footer-content p {
    color: #FFFFFF;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
}

#footer-content a {
    text-decoration: none;
}
