/*
 *  Minivisp Style 0.1
 *   - Header
 */

#header h1 {
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 2.5em;
    letter-spacing: 2px;
    margin: 0px;
    padding-left: 10px;
    padding-bottom: 0px;
}

#header p {
    color: #ff9000;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 0.8em;
    font-style:italic;
    margin: 0px;
    padding-left: 20px;
}
