/*
 *  Zacacia Style 0.2
 *
 */

body {
background-color: #222E44;
}

body > content {
width: 80%;
height: 400px;
}

.ym-form {
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}

.ym-wbox {
margin: 60px auto;
height: 320px;
width: 300px;
}

.z-logo {
width: 200px;
margin: 10px auto 10px auto;
}

.z-logo-img {
margin: 10px auto;
}

.z-footer {
}
