.menu-section {
border-bottom: 1px solid #C0C0C0;
padding: 0px 0px 3px 0px;
}

.menu-label {
height: 15px;
font-size: 9px;
font-family: 'Helvetica';
color: #FFFFFF;
padding: 2px 0px 0px 4px;
margin: 0px;
height: 15px;
}

.menu-field {
height: 15px;
padding: 0px 0px 0px 4px;
margin: 0px;
height: 15px;
}

.menu-field select {
width: 95%;
border: 1px solid #C0C0C0;
font-size: 9px;
font-family: 'Helvetica';
padding: 0px;
margin: 0px;
background-color: #E5E5E5;
}
