/*
 *  Minivisp Style 0.1
 *   - Header
 */

#menu ul {
    margin: 0 0 0 20px;
    padding: 0 0 0 0;
    line-height: 40px;
    display: inline;
    text-align: justify;
}

#menu li {
    display: inline;
    padding: 0 5px 0 5px;
    margin: 0 0 0 0;
}

#menu a {
    letter-spacing: -1px;
    text-decoration: none;
    text-align: center;
    text-transform: lowercase;
    font-family: Arial;
    font-size: 1em;
    font-weight: bold;
    color: #999999;
}

#menu a.active {
    color: #F0C020;
}
