/*
 *  Minivisp Style 0.1
 *
 *   - http://www.colorzilla.com/gradient-editor/
 *   - http://www.css3.info/preview/rounded-border/
 *   - http://www.colorcombos.com/color-scheme-219.html
 */


body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background: #FFFFFF;
}

#header {
    width: 900px;
    height: 62px;
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
    border-bottom: 1px solid #e09010;
    background-color: #00375A;
    background-image: url(/images/zacacia_w.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

#menu {
    width: 900px;
    height: 40px;
    margin: 0 auto 0 auto;
    background-color: #004A73;
    border-bottom: 1px solid #e09010;
}

#content {
    width: 898px;
    height: 400px;
    padding: 0 0 0 0;
    margin: 0 auto 0 auto;
    background: #EFEFEF;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

#footer {
    border: 1px solid #00FF00;
    width: 900px;
    height: 40px;
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
    background-color: #00375A;
    border-top: 1px solid #FFCC00;
}
