body  {
min-width: 940px;
font: 14px/20px 'Droid Sans', 'Myriad Pro', Helvetica, Arial, sans-serif;
color: #555;
background-color: #282828;
}

p {
margin: 0;
font:14px/22px 'Droid Sans', 'Myriad Pro', Helvetica, Arial, sans-serif;
}

hr {
background-color: #e6e6e6;
border:0;
height: 1px;
margin-bottom: 20px;
}

input, textarea {
padding: 7px 0 7px 7px;
border-color: #ccc #efefef #efefef #ccc;
border-width:1px;
border-style:solid;
}

a:link, a:visited {
color: #83b441;
text-decoration:none;
}

a:hover {
text-decoration:underline;
}

h1 a:link, h1 a:visited, h2 a:link, h2 a:visited, h3 a:link, h3 a:visited,
h4 a:link, h4 a:visited, h5 a:link, h5 a:visited, h6 a:link, h6 a:visited {
text-decoration: none; 
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
text-decoration: underline;
}

#wrapper  {
background:#FFFFFF;
}

#top {
background: #273b52;
}

#header{
padding: 15px 0px 0px 0px;
clear:both;
position:relative;
border-bottom: 2px solid #FFFFFF;
}

#title img  { }
#logo img  { }

#title  {
float:left;
margin-bottom: 0px;
}

#logo  {
float:right;
}

#breadcrumb { 
background: #e6e6e6;
background: -moz-linear-gradient(top, #e6e6e6 0%, #d5d5d5 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e6e6), color-stop(100%,#d5d5d5));
background: -webkit-linear-gradient(top, #e6e6e6 0%,#d5d5d5 100%);
background: -o-linear-gradient(top, #e6e6e6 0%,#d5d5d5 100%);
background: -ms-linear-gradient(top, #e6e6e6 0%,#d5d5d5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#d5d5d5',GradientType=0 );
background: linear-gradient(top, #e6e6e6 0%,#d5d5d5 100%); 
height:40px;
border-bottom:1px solid #AAAAAA;
line-height:40px;
text-align: left;
}

#breadcrumb img { 
float: right;
margin-top: 10px;
}

#content {
min-height:320px;
padding:20px 0 30px 0;
width: 940px;
margin: 0 auto;
border: 1px solid red;
text-align: left;
}

#footer {
background:#282828;
padding: 20px 0;
color:#999;
}

.col-full  {
width: 940px;
margin: 0 auto;
}

.col-full:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.post .title {
font-weight: bold;
font-size:24px;
line-height:24px;
position:relative; margin: 0 0 15px;
}
