/*
 *  Zacacia Style 0.2
 *
 */
body {
background-color: #EAEAEA;
}

.header {
background-color: #203D5B;
}

.header-top {
min-height: 10px;
}

.header-content {
color: #FFFFFF;
min-height: 70px;
}

.header-content img {
padding: 10px;
}

.header-logo {
background-image: url(/images/zacacia_w.png);
background-repeat: no-repeat;
background-position: right bottom;
min-height: 70px;
}

.spacer {
min-height: 3px;
height: 3px;
background-color: #FFFFFF;
}

.content {
min-height: 450px;
border: 1px solid red;
}

.menu {
background-color: #203D5B;
}

.menu-top {
min-height: 40px;
border: 1px solid red;
}

.menu-content {
min-height: 400px;
height: 410px;
}

.menu-bottom {
min-height: 40px;
}

.footer {
background-color: #203D5B;
}

.footer-content {
color: #FFFFFF;
text-align: center;
padding: 10px 0px 0px 0px;
min-height: 30px;
}

.page-title {
color: #000000;
font-family: Helvetica;
font-size: 20px;
letter-spacing: 1px;
padding: 4px 0 0 10px;
font-weight: bold;
}
