/*
 *  Zacacia Style 0.2
 *
 */

body {
font-family: Arial, Helvetica, sans-serif;
background-color: #F0F0F0;
}

body > header {
min-width: 760px;
height: 60px;
background-color: #222E44;
}

body > content {
min-width: 760px;
}

body > footer {
min-width: 760px;
height: 60px;
background-color: #222E44;
}

.ym-col1 { /* right column */
width: 20%;
}

.ym-col2 { /* center column */
width: 20%;
}

.ym-col3 { /* left column */
margin-left: 20%;
margin-right: 20%;
}

.z-logo {
padding-top: 5px;
}

.z-footer {
padding-top: 5px;
text-align: center;
font-family: "Comic Sans MS", cursive, sans-serif;
}

.z-content {
min-height: 450px;
border-left:  1px solid #222222;
border-right:  1px solid #222222;
}

.z-content-header {
background-color: #222222;
}

.z-content-header-title {
font-size: 2em;
color: #FFFFFF;
margin: 10px 0 0 10px;
}

.z-button-new {
margin-top: 1em;
margin-bottom: 1em;
}

.z-button-cancel {
margin-top: 1em;
margin-bottom: 1em;
}
