html,body,.container {
    height: 100%;
}

header {
    padding: 0px 0px 25px 0px;
    background-color: #00345d;
    border-bottom: 2px solid white;
}

main {
    min-height: 100%;
}

nav {
}

aside {
}

footer {
    border: 1px solid grey;
    height: 70px;
    background-color: #01579b;
    border-top: 2px solid white;
}

#zacacia-menu {
    background-color: #E5EEF5;
    position: absolute;
    border-right: 2px solid white;
    padding: 50px 5px 0px 5px;
    min-height: 100%;
}

#zacacia-content {
    background-color: #FFFFFF;
    position: absolute;
    padding: 50px 0px 0px 0px;
    min-height: 100%;
}

#zacacia-title {
    font-family: 'Exo', sans-serif;
    color: white;
    margin-bottom: -8px;
}


.btn-group-vertical {
    width: 100%;
}

.btn, .btn-active {
    text-align: left;
    background-color: #ced6dc;
}

.btn-active {
    font-weight: bolder;
}

.btn-logout {
    border-top: 1px solid #C0C0C0;
}

a {
    color: black;
    text-decoration: none
}

a:hover {
    color: orangered;
    text-decoration: none
}

#zacacia-table {
    width: 80%;
    margin-left:auto;
    margin-right:auto;
}

caption {
    font-weight: bolder;
    border: 1px solid #003c6c;
    background-color: #003c6c;
    color: white;
    padding-left: 20px;
    -moz-border-radius:5px 5px 0px 0px;
    border-radius:5px 5px 0px 0px; 
}

td.cn {
}

td.action {
    width: 20px;
}

td.add {
    text-align: right;
    font-weight: bold;
    color: #01579b;
}

.form-control {
    width: 20%;
}