{% extends 'ZacaciaBundle::zacacia.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/zacacia/vendor/angular/angular-route.min.js') }}"></script>
<script src="{{ asset('bundles/zacacia/js/platform_edit.js') }}"></script>
{% endblock %}

{%block nav_menu %}
<button type="button" class="btn btn-active btn-lg btn-block">Plateforms</button>
{% endblock %}

{% block main %}
<div>
    
    <form  ng-controller="PlatformController">
    CN : <input type="text" name="cn" ng-model="cn" /><br />
    Status <input type="text" name="zacaciaStatus" ng-model="string"/>
        <input type="submit" value="send" />
        
    </form>
</div>
{% endblock %}

{% block footer %}
a
{% endblock %}
