html,body,.container {
    height: 90%;
}

body > .container {
    border: 1px solid #000;
}

header {
    padding: 0px 0px 25px 0px;
    background-color: #01579b;
}

#main-column {
    position: relative;
    box-sizing: border-box;
    border: 1px solid #000;
    min-height: 100%;
    margin: 0px 0px;
    background-color: #AAAAAA;
}

#zacacia-menu {
    position: absolute;
    background-color: #C0C0C0;
    border: 1px solid #000;
    min-height: 500px;
}

#zacacia-content {
    background-color: #FFFFFF;
    border: 1px solid #000;
    min-height: 500px;
    margin-left: 200px;
}

main {
    border: 1px solid #000;
}

footer {
    border: 1px solid grey;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 70px;
    background-color: #01579b;
    width: 100%;
}
