html,body,.container {
    height: 90%;
}

body > .container {
    border: 1px solid #000;
}

header {
    padding: 0px 0px 25px 0px;
    background-color: #01579b;
}

#main-column {
    border: 1px solid #000;
    min-height: 80%;
}

.zacacia-menu {
    min-height: 80%;
    background-color: blue;
    border: 1px solid red;
    height: 80%;
}

main {
    border: 1px solid #000;
}

footer {
    border: 1px solid grey;
    background-color: #01579b;
    height: 60px;
}
